<mat-expansion-panel>
  
    <mat-expansion-panel-header>
        <mat-panel-title>
          {{bidId}}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-grid-list *ngIf="!editMode" cols="2" rowHeight="3:1">
          <mat-grid-tile>
            <table mat-table>
              <tr>
                <td>Cost:</td><td>{{model.cost}}</td>
              </tr>
              <tr>
                <td>State:</td><td>{{model.state}}</td>
              </tr>
              <tr>
                <td>Owner:</td><td>{{model.owner}}</td>
              </tr>
              <tr>
                <td>Description:</td><td><pre style="font: inherit">{{model.description}}</pre></td>
              </tr>
            </table>
          </mat-grid-tile>
          <mat-grid-tile>
              <img [src]="imgURL" alt="Object Image" *ngIf="imgInitialized">
          </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list *ngIf="editMode" cols="2" rowHeight="2:1">
          <mat-grid-tile>
            <table mat-table>
              <tr>
                <td>Cost:</td><td>{{model.cost}}</td>
              </tr>
              <tr>
                <td>State:</td><td>{{model.state}}</td>
              </tr>
              <tr>
                <td>Owner:</td><td>{{model.owner}}</td>
              </tr>
              <tr>
                <td>Description:</td><td><pre style="font: inherit">{{model.description}}</pre></td>
              </tr>
            </table>
          </mat-grid-tile>
          <mat-grid-tile>
              <!--img src="https://ipfs.io/ipfs/{{model.IPFSHash}}" alt="Object Image"-->
              <app-image-upload (imgLoaded)="onImgLoaded($event)"></app-image-upload>
          </mat-grid-tile>
        </mat-grid-list>

        <mat-action-row>
          <button mat-button *ngIf="isProjectOwner&&projectState==0" (click)="onAcceptBid()">AcceptBid</button>
          <button mat-button *ngIf="isOwner&&!editMode&&projectState==0" (click)="editMode=true">Edit</button>
          <button mat-button *ngIf="editMode" (click)="onSave()">Save</button>
        </mat-action-row>
</mat-expansion-panel>
